// Colors
$black: #000000;
$black-nice: #0f0f0f;
$anthracite-grey: #141414;
$grey: #424242;
$middle-grey: #8b8b8b;
$soft-grey: #b1b1b1;
$light-grey: #dddddd;
$off-white: #fafafa;
$white: #ffffff;
$blue: #5097ab;